extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Aleksei Nechaev

        p Full Stack JavaScript Developer


        .about-bio

          p Hard-working professional with 3 years of experience in JavaScript, a proven knowledge of extensive experience using HTML/CSS gained through creating a multitude of websites. In addition, have over 2 years of experience using Java. Aiming to leverage programming skills to successfully fill the Software Developer role. 


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        ul
          li 555-555-1234
          li aleksei.snech77@gmail.com

        a.btn-link(href='https://www.linkedin.com/in/alekseinechaev77/') LinkedIn
        a.btn-link(href='https://github.com/alekseynecha77') GitHub
        a.btn-link(href='https://twitter.com/AlekseiSnech77') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back