extends layout

block content
    .dev-intro-box
        h1= `There is an error`
        h2= `The error is: ${error.message}, ${error.status}`
        h2= `Looks like there was a problem, please try again`