extends layout

block content
    .dev-intro-box
        h1= `There is a server error`
        h2= `The error is: ${error.status} - server Error`
        p= `Looks like there was a problem: ${err.message}`

            
